@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Georigia';
    src: url('/fonts/Georigia.ttf')
}

::view-transition-old(root),
::view-transition-new(root){
    transition: all 10s ease-in-out;
}

/* .componente-espera {
  position: relative;
  overflow: hidden;
  background: gray;
  padding: 10px;
  border-radius: 4px;
  height: 100px;
  width: 200px;

}

.componente-espera::after {
  content: "";
  position: absolute;
  top: -80%;
  left: -50%;
  width: 300%;
  height: 4%;
  background: linear-gradient(
    -80deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.9) 100%
  );
  transform: rotate(-80deg);
  animation: pulse 1.9s infinite;
}

@keyframes pulse {
  from{
    transform: translate(0, 0) rotate(-80deg);
  }
  to {
    transform: translate(-100%, -100%) rotate(-80deg);
  }
} */

/* 
::view-transition-old(root),
::view-transition-new(root) {
    animation: fade-and-scale-in 10s ease-in-out 1 forwards;
  } 
  
  @keyframes fade-and-scale-in {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes fade-and-scale-out {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0);
    }
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-out {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  } */